/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.register-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
}

.rbc-calendar {
  height: 70vh;
  margin-top: 30px;
}

.right-side {
  height: 100vh;
  width:100%;
}

.red-form {
  background-color: palevioletred;
}